environment:
  matrix:
    - nodejs_version: "0.8"
    - nodejs_version: "0.10"
    - nodejs_version: "0.12"
    - nodejs_version: "1.8"
    - nodejs_version: "2.5"
    - nodejs_version: "3.3"
    - nodejs_version: "4.2"
    - nodejs_version: "5.3"
install:
  - ps: Install-Product node $env:nodejs_version
  - if "%nodejs_version%" equ "0.8" npm rm --save-dev istanbul
  - npm install
build: off
test_script:
  - node --version
  - npm --version
  - set npm_test_command=test
  - for /f %%l in ('npm -ps ls istanbul') do set npm_test_command=test-ci
  - npm run %npm_test_command%
version: "{build}"
